<div class="container">
    <div class="box">
        <h1>Edit</h1>
        <% @user.errors.full_messages.each do | message | %>
            <p class="form-alert"> <%= message %> <p>
        <% end %>
        <%= form_tag("/users/#{@currentUser.id}/update") do %>
        <div class="form-row">
            <label>Name</label>
            <input name="name" value=<%= @currentUser.name %>>
        </div>
        <div class="form-row">
            <label>Image</label>
            <img src=<%= "/user_images/#{@currentUser.image}" %>>
        </div>
        <div class="form-row">
            <input class="btn-submit" type="submit" value="save">
        </div>
        <% end %>
    </div>
</div>
