<div class="container">
    <div class="box">
        <h1>Login</h1>
        <%= form_tag("/login") do %>
        <div class="form-row">
            <label>Email</label>
            <input name="email">  
        </div>
        <div class="form-row">
            <label>Password</label>
            <input name="password" type="password">
        </div>
        <div class="form-row">
            <input class="btn-submit" type="submit" value="log in">
        </div>
        <% end %>
        <div class="form-row">
            <p>Don't have account? <span class="span-text"><%= link_to("Register now!",'/signin')%></span></p>
        </div>
    </div>
</div>
