<div class="container">
    <div class="box">
        <h1>User Profile</h1>
        <h2><%= @currentUser.name %></h2>
        <img src=<%= "/user_images/#{@currentUser.image}" %> class="user-image">
    </div>
</div>