<%= form_tag("/natural_disasters/report") do %>
    <label>Name</label>
    <input name="name">
    <label>Location</label>
    <input name="location">
    <label>Description</label>
    <textarea>
    </textarea>
    <input type="submit" value="report">
<% end %>
